<ion-header>
  <ion-toolbar>
    <ion-title>myDeliveries</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="presentPopover($event)">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false">
    <ng-template>
      <ion-button fill="clear" (click)="logout()">Logout</ion-button>
    </ng-template>
  </ion-popover>
</ion-content>
