<ion-header>
  <ion-toolbar>
    <ion-title>Sign In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-input
      placeholder="Username"
      [(ngModel)]="username"
      (input)="onTextChanged()"
    ></ion-input>
    <ion-input
      placeholder="Password"
      type="password"
      [(ngModel)]="password"
      (input)="onTextChanged()"
    ></ion-input>
    @if (invalidInput) {
      <ion-label color="danger">Enter a valid username and password.</ion-label>
    }
  </div>
  <div class="ion-text-center">
    <ion-button (click)="login()">Login</ion-button>
  </div>
</ion-content>
